#room-page {
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: #f9f9f9;
}

.room-content {
	display: flex;
	width: 100%;
	max-width: 1200px;
	gap: 20px;
}

.warning-message {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 20vh;
	text-align: center;
	background-color: #f9f9f9;
	font-family: Arial, sans-serif
}


button {
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}


button:hover {
	background-color: #555;
}

/* Left Section: Room Details and Text */
.left-section {
	flex: 2;
}

.room-details {
	margin-bottom: 20px;
}

.room-img img {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Room Text Container */
.room-text {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 20px;
	gap: 20px;
}

/* Left Content (Category, Grade, Spec) */
.room-text-left {
	flex: 2;
}

.room-category {
	font-size: 14px;
	color: #888;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.room-text-left h3 {
	font-size: 24px;
	margin: 10px 0;
	color: #333;
}

.room-text-left p {
	font-size: 16px;
	line-height: 1.5;
	color: #555;
}

.room-text-right {
	flex: 1;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.room-price {
	font-size: 24px;
	font-weight: bold;
	color: #ED5C59;
	background-color: #f8f8f8;
	padding: 10px 15px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.right-section {
	flex: 1;
}

.room-form {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.room-form h3 {
	margin-bottom: 20px;
	font-size: 24px;
	color: #333;
}

.room-form label {
	display: block;
	margin-bottom: 5px;
	color: #666;
}

.room-form input,
.room-form select {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.form-btn {
	width: 100%;
	padding: 10px;
	background-color: #333;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.form-btn:hover {
	background-color: #555;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	gap: 20px;

}

.clear-btn {
	width: 100%;
	padding: 10px;
	background-color: #5e5c5c;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.clear-btn:hover {
	background-color: #7b7b7b;
}

.cancel-btn {
	text-align: center;
	background-color: #5e5c5c;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
}

.cancel-btn:hover {
	background-color: #7b7b7b;
}

/* Responsive Design */
@media (max-width: 768px) {
	.room-content {
		flex-direction: column;
	}

	.left-section,
	.right-section {
		width: 100%;
	}
}